## Домашнее задание 6

### Взаимосвязь величин. Параметрические и непараметрические показатели корреляции. 

### Корреляционный анализ

#### 1. Доходность двух активов за 8 периодов представлена в таблице:

In [1]:
import pandas as pd
import numpy as np

In [2]:
tabledata = [[1, 12, 14],
         [2, 10, 18],
         [3, 10, 13],
         [4, 8, 10],
         [5, -5, 12],
         [6, -3, -7],
         [7, 10, -2],
         [8, 7, 10]]

In [6]:
df = pd.DataFrame(tabledata, columns=["Периоды","Доходность актива Х", "Доходность актива Y"])

#### Определить коэффициент корреляции доходностей активов X и У.

In [8]:
df.loc[:, ["Доходность актива Х", "Доходность актива Y"]].corr()

                     Доходность актива Х  Доходность актива Y
Доходность актива Х             1.000000             0.396721
Доходность актива Y             0.396721             1.000000

#### 2. Дана корелляционная  таблица случайного вектора (X,Y). Вычислите ковариацию cov(X,Y).

In [9]:
tabledata = [[-2, 0.1, 0, 0.2],
         [0, 0.05, 0.2, 0],
         [1, 0, 0.2, 0.05],
         [7, 0.1, 0, 0.1]]

In [12]:
df = pd.DataFrame(tabledata, columns=["X/Y","-6", " 0", "3"])
df

   X/Y    -6    0     3
0   -2  0.10  0.0  0.20
1    0  0.05  0.2  0.00
2    1  0.00  0.2  0.05
3    7  0.10  0.0  0.10

In [13]:
df.loc[:, ["X/Y","-6", " 0", "3"]].cov()

           X/Y        -6         0         3
X/Y  15.000000  0.041667 -0.133333 -0.058333
-6    0.041667  0.002292 -0.005000  0.002708
 0   -0.133333 -0.005000  0.013333 -0.008333
3    -0.058333  0.002708 -0.008333  0.007292

#### 3. Определите коэффициент корреляции из № 2.

In [14]:
df.loc[:, ["X/Y","-6", " 0", "3"]].corr()

          X/Y        -6         0         3
X/Y  1.000000  0.224733 -0.298142 -0.176383
-6   0.224733  1.000000 -0.904534  0.662541
 0  -0.298142 -0.904534  1.000000 -0.845154
3   -0.176383  0.662541 -0.845154  1.000000

#### 4. Приведите примеры положительной корелляции из практики (5 примеров).

1. Количество потребляемых килокаллорий и вес человека
2. Рост количества продаж товара и прибыль фирмы 
3. Время потраченное на обучение и результат экзамена
4. Температура воздуха и скорость таянья льда
5. Рост количества антипрививочников и рост заболеваемости туберкулезом

#### 5. Приведите примеры отрицательной корелляции  из практики (5 примеров).

1. Уровень рождаемости и уровень образования у женщин
2. Время проведенное в тюрьме и время адаптации к условиям жизни на свободе
3. Запрет абортов и уровень смертности женщин
4. Количество часов дрессировки собак и количество нападений собак на человека
5. Занятия спортом и риск сердечно-сосудистых заболеваний